# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
lib/
lib64/
pip-wheel-metadata/
*.dist-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.cache

# Jupyter Notebook
.ipynb_checkpoints


serviceAccountKey.json

# pyenv
.python-version

# celery beat schedule files
celerybeat-schedule

# FastAPI-related files
*.log
*.sqlite3

# Local development files
instance/
web/assets/

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Environment variables
.env
.env.local
.env.*.local
